# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    session_max_lifetime: 500

    # StreamPerk Configuration
    streamperk.monitor_email_recipient: ~
    streamperk.monitor_email_sender: ~
    streamperk.encryption_key: ~
    streamperk.image_proxy.server_address: ~
    streamperk.image_proxy.hashing_algorithm: ~
    streamperk.image_proxy.salt: ~
    streamperk.image_proxy.secret: ~

    # Twitch Configuration
    twitch_client_id: ~
    twitch_client_secret: ~

    # GameWisp Configuration
    gamewisp_identifier: ~
    gamewisp_secret: ~
